=begin
#API Nuvem Fiscal

#API para automação comercial e documentos fiscais.

The version of the OpenAPI document: 2.70.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module NuvemFiscalClient
  class CepApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Consultar endereço através do CEP
    # **Informações adicionais**:  - Cota: <a href=\"/docs/limites#cep-consultas\">cep-consultas</a>  - Consumo: 1 unidade requisição.
    # @param cep [String] CEP sem máscara.
    # @param [Hash] opts the optional parameters
    # @return [CepEndereco]
    def consultar_cep(cep, opts = {})
      data, _status_code, _headers = consultar_cep_with_http_info(cep, opts)
      data
    end

    # Consultar endereço através do CEP
    # **Informações adicionais**:  - Cota: &lt;a href&#x3D;\&quot;/docs/limites#cep-consultas\&quot;&gt;cep-consultas&lt;/a&gt;  - Consumo: 1 unidade requisição.
    # @param cep [String] CEP sem máscara.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CepEndereco, Integer, Hash)>] CepEndereco data, response status code and response headers
    def consultar_cep_with_http_info(cep, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CepApi.consultar_cep ...'
      end
      # verify the required parameter 'cep' is set
      if @api_client.config.client_side_validation && cep.nil?
        fail ArgumentError, "Missing the required parameter 'cep' when calling CepApi.consultar_cep"
      end
      # resource path
      local_var_path = '/cep/{Cep}'.sub('{' + 'Cep' + '}', CGI.escape(cep.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CepEndereco'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['jwt', 'oauth2']

      new_options = opts.merge(
        :operation => :"CepApi.consultar_cep",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CepApi#consultar_cep\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
