=begin
#API Nuvem Fiscal

#API para automação comercial e documentos fiscais.

The version of the OpenAPI document: 2.60.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module NuvemFiscalClient
  class ContaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Consultar o limite de uso e o consumo de uma cota específica.
    # @param nome [String] Nome da cota a ser consultada.
    # @param [Hash] opts the optional parameters
    # @return [ContaCota]
    def consultar_cota_conta(nome, opts = {})
      data, _status_code, _headers = consultar_cota_conta_with_http_info(nome, opts)
      data
    end

    # Consultar o limite de uso e o consumo de uma cota específica.
    # @param nome [String] Nome da cota a ser consultada.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContaCota, Integer, Hash)>] ContaCota data, response status code and response headers
    def consultar_cota_conta_with_http_info(nome, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContaApi.consultar_cota_conta ...'
      end
      # verify the required parameter 'nome' is set
      if @api_client.config.client_side_validation && nome.nil?
        fail ArgumentError, "Missing the required parameter 'nome' when calling ContaApi.consultar_cota_conta"
      end
      # resource path
      local_var_path = '/conta/cotas/{nome}'.sub('{' + 'nome' + '}', CGI.escape(nome.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContaCota'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['jwt', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContaApi.consultar_cota_conta",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContaApi#consultar_cota_conta\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Consultar os limites de uso e consumo de todas as cotas existentes.
    # @param [Hash] opts the optional parameters
    # @return [ContaCotaListagem]
    def listar_cotas_conta(opts = {})
      data, _status_code, _headers = listar_cotas_conta_with_http_info(opts)
      data
    end

    # Consultar os limites de uso e consumo de todas as cotas existentes.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContaCotaListagem, Integer, Hash)>] ContaCotaListagem data, response status code and response headers
    def listar_cotas_conta_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContaApi.listar_cotas_conta ...'
      end
      # resource path
      local_var_path = '/conta/cotas'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContaCotaListagem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['jwt', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContaApi.listar_cotas_conta",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContaApi#listar_cotas_conta\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
